body {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: auto;
    max-width: 1024px;
    background-color: black;
}

.contenido {
  max-width: 1024px;
}

.container {
    background-image: url(img/oriental.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    min-height: 500px;
    border-radius: 20px;
}

.chino {
  background-image: url(img/chino.jpg);
  width: 150px;
  height: 150px;
  background-position: top;
  background-size: cover;
  animation: chinoAnimation 2s ease-in-out infinite alternate;
  animation-play-state: paused;
}

.chino:hover {
  animation-play-state: running;
}

@keyframes chinoAnimation {
  from {
    height: 10px;
  }
  to {
    height: 150px;
  }
}

.container2 {
  background-image: url(img/zena.jpg);
  background-size: cover;
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-top: 10px;
  min-height: 500px;
  border-radius: 20px;
}




a {
    font-family:'Pacifico', cursive;
    font-size: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    text-decoration: none;
    color:unset;
}

.colorChange:hover {
  animation-play-state: paused;
}

.colorChange {
    animation: colorChange 2s linear infinite alternate;
  }
  
  @keyframes colorChange {
    from {
      color: #f72121;
    }
    to {
      color: #381cd6c9;
      font-size: 1.5em;
    }
  }

  .variosColores {
    animation: cambiarVariosColores 4s ease-in-out infinite alternate;
  }
  
  @keyframes cambiarVariosColores {
    0% {
      color: red;
    }
    20% {
      color: blue;
    }
    40% {
      color: yellow;
    }
    60% {
      color: blueviolet;
    }
    80% {
      color: orangered;
    }
    100% {
      color: gray;
    }
  }

  .smithers {
    width: 170px;
    height: 170px;
    background-image: url(img/smithers.jpg);
    animation: smithersAnimation 4s linear infinite;
  }
  @keyframes smithersAnimation {
    to {
      transform: rotateY(360deg) rotateZ(180deg);
    }
  }
  h1 {
    text-align: center;
  }
  